#board {
    padding: 3em;
    text-align: center; 
}

div > div {
    float: left;
    height: 100px;
    width: 100px;
}

.row {
    clear: both;
    margin: 0 auto;
    width: 302px;
    cursor: pointer;
}


.top {
    border-bottom: 1px purple solid;
}

.bottom {
    border-top: 1px green solid;
}

.left {
    border-right: 1px blue solid;
}

.right {
    border-left: 1px orange solid;
}